@font-face {
	font-family: Open-Sans;
	src:url(../fonts/OpenSans.ttf);
}

@font-face {
	font-family: Open-Sans-Light;
	src:url(../fonts/OpenSans-Light.ttf);
}

@font-face {
	font-family: OpenSans-Semibold;
	src:url(../fonts/OpenSans-Semibold.ttf);
}

@font-face {
	font-family: Montserrat;
	src:url(../fonts/montserrat/Montserrat-Regular.otf);
}